.header{
  position: fixed;
  background-color: rgb(17, 36, 19);
  width: 100%;
  height: 65px;
  gap: 20px;
  padding-left: 35%;
  padding-right: 35%;
  padding-top: 35px;    
  z-index: 1500; 
  a{
      text-decoration: none;
      color: rgb(240, 255, 142);
      padding-left: 20px;
      font-size: 22px;
  }
  a:hover{
      color: rgb(164, 173, 101);
  }
}